/* next button */
.btn-class-name {
    --color: 255, 255, 255; 
    border-radius: .5em;
    transition: .3s;
    background-color: rgba(var(--color), 0);
    color: #fff; 
    fill: #fff;
    font-family: monospace;
    font-weight: bolder;
    font-size: x-large;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    cursor: pointer;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    padding: .5em 1em;
}

.btn-class-name span {
    transform: scale(.8);
    transition: .3s;
    margin-left: 10px;
}

.btn-class-name:hover span {
    transform: scale(1);
}

.btn-class-name svg {
    font-size: 0;
    transform: scale(1) translateX(0%) rotate(270deg);
    transition: .3s;
}

.btn-class-name:hover svg {
    font-size: 20px;
    transform: scale(1) translateX(20%) rotate(0deg);
}

/* previous button */
.btn-class-name-prev {
    --color: 255, 255, 255; 
    border-radius: .5em;
    transition: .3s;
    background-color: rgba(var(--color), 0);
    color: #fff; 
    fill: #fff;
    font-family: monospace;
    font-weight: bolder;
    font-size: x-large;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    cursor: pointer;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    padding: .5em 1em;
}

.btn-class-name-prev span {
    transform: scale(.8);
    transition: .3s;
    margin-left: 10px;
}

.btn-class-name-prev:hover span {
    transform: scale(1);
}

.btn-class-name-prev svg {
    font-size: 0;
    transform: scale(1) translateX(0%) rotate(-180deg);
    transition: .3s;
}

.btn-class-name-prev:hover svg {
    font-size: 20px;
    transform: scale(1) translateX(20%) rotate(180deg);
}

/* form box */
.centered-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -100px;
    display: none;
}

.centered-card-active {
    display: flex;
}

.card {
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
    max-width: 700px;
    width: 100%;
    position: relative;
    overflow:auto;
    border-radius: 10px;
}

.card h2 {
    font-size: 24px;
    font-weight: 300;
    font-family:Arial, Helvetica, sans-serif;
}

.pricing {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content:center;
    margin: 0 20px;
    margin-bottom: 50px;
}

.radio-box {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px;
    width: 120px;
    height: 120px;
    border-radius: 5px;
    position: relative;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 2px solid #130101;
    background-color: #fff;
    cursor: pointer;
}

.radio-box input[type="radio"]:checked + .radio-box{
    border: 2px solid #bdc3c9;
    background-color: #174880;
}

.radio-box input[type="radio"] {
    position: absolute;
    top: 8px;
    left: 5px;
}

.radio-box img {
    width: 40px;
    height: 40px;
    margin-top: 30px; 
    margin-bottom: 10px;
}

.radio-box span {
    display: block;
}

.button-strip {
    display: flex;
    justify-content: space-between;
    background-color: #011E40;
    margin: -20px;
}

/* progress bar */
.progressbar-wrapper {
    align-items: center;
    flex-direction: column;
    margin-top: -100px;
    margin-left: 510px;
}

@media (max-width: 600px) {
    .progressbar-wrapper {
        display: none;
    }
}

@media (max-width: 1024px) {
    .progressbar-wrapper {
        margin-left: 0;
    }
}

.progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 0 4rem;
    max-width: 500px;
}
.progressbar::before, .progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: -1;
}
.progress {
    background-color: var(--primary-color);
    width: 0%;
    transition: 0.3s;
    z-index: -1;
}

.progress-step {
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.progress-step::before {
    counter-increment: step;
    content: counter(step);
}
.progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: #666;
}
.progress-step-active {
    background-color: #011E40;
    color: #f3f3f3;
}

/* input fields */
.input-div { 
    display: block; 
    margin-top: 30px;
}

.input-div input {
    width: 100%;
    padding: 15px; 
    font-size: 18px; 
}

.input-class {
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    outline: none;
    transition: .3s;
}

.input-div input:focus {
    border: 1px solid #3b0e8e;
}

.form-box {
    display: flex;
    flex-direction: row; 
    justify-content:space-around;
    margin-bottom: 40px;
    padding: auto;
    height: 130px;
}

.form-text {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}